body {
  margin: 0;
  font-family: 'Montserrat';
}

.flexContainer {
  width: 100%;
  grid-template-areas: "UX SKILLS" "UI SKILLS" "WEB DEVELOPMENT";
  grid-template-areas: 300px 300px 300px;
  grid-template-columns: 1fr 1fr 1fr;
}

.workGrid {
  display: grid;
  grid-area: myArea myArea;
  grid-template-rows: 100px 300px;
  grid-template-columns: auto auto;
}

@media only screen and (max-width: 600) {
  .flexContainer {
    width: 100%;
    grid-template-areas: "UX SKILLS" "UI SKILLS" "WEB DEVELOPMENT";
    grid-template-areas: 300px 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    
  }

}